header {
    border: unset;
}

main {
    width: 100%;
    height: fit-content;
}

section {
    width: 100%;
    height: fit-content;
    font-family: 'Roboto Slab', serif;

    &:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        //   border: 2px solid red;

        background-color: white;
        //position: relative;
        /*
        .ruler {
            //    border: 2px solid red;
            //border: 2px solid blue;

            position: absolute;

            background-color: black;
            height: 33vh;
            opacity: 1;
            width: 100%;
            z-index: 5;
            // display: none;

            &:nth-of-type(2) {
                margin-top: 33vh;
            }

            &:nth-of-type(3) {
                margin-top: 66vh;
            }

            // display: none;


        }
        */

        .panel {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;

            &:nth-of-type(1) {

                // margin-top: 10vh;


                //   border: 2px solid red;

                height: fit-content;

                article {
                    display: grid;
                    grid-template-columns: 0.5fr 0.5fr;
                    grid-template-rows: 20vh auto;


                    &:nth-of-type(1) {
                        // border: 2px solid blue;
                        padding: 1vw;
                        box-sizing: border-box;

                        grid-template-areas:
                            "heading heading"
                            "content photo";

                        align-items: flex-start;

                        &>h1,
                        .article_body {
                            padding: 1vw;
                            box-sizing: border-box;
                        }

                        &>h1 {
                            grid-area: heading;
                            font-size: 3vw;
                            margin-bottom: 0;


                        }

                        .article_body {
                            grid-area: content;
                            margin-top: 0;

                            p {
                                font-size: 1.5vw;
                                margin-top: 0;

                            }


                        }

                        svg {
                            grid-area: photo;
                            width: 100%;
                        }


                    }
                }
            }

            &:nth-of-type(2) {
                // height: fit-content;

                //border: 2px solid red;

                article {
                    display: grid;
                    grid-template-columns: 0.5fr 0.5fr;
                    grid-template-rows: 20vh auto;

                    &:nth-of-type(1) {
                        // border: 2px solid blue;
                        padding: 1vw;
                        box-sizing: border-box;

                        grid-template-areas:
                            "photo heading"
                            "photo content"
                            "photo content";

                        align-items: flex-start;

                        &>h1,
                        .article_body {
                            padding: 1vw;
                            box-sizing: border-box;
                        }

                        &>h1 {
                            //height: fit-content;
                            grid-area: heading;
                            font-size: 3vw;
                            margin-bottom: 0;


                        }

                        .article_body {
                            grid-area: content;
                            margin-top: 0;

                            p,
                            li {
                                font-size: 1.5vw;
                                margin-top: 0;

                            }

                            li {
                                list-style: square;

                            }



                        }

                        svg {
                            grid-area: photo;
                            width: 100%;
                            margin-top: 5vh;
                        }
                    }
                }
            }





        }
    }

    &:nth-of-type(2) {
        .panel {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;

            &:nth-of-type(1) {
                height: fit-content;

                article {
                    display: grid;
                    grid-template-columns: 0.5fr 0.5fr;
                    grid-template-rows: 20vh auto;


                    &:nth-of-type(1) {
                        // border: 2px solid blue;
                        padding: 1vw;
                        box-sizing: border-box;

                        grid-template-areas:
                            "heading photo"
                            "content photo";

                        align-items: flex-start;

                        &>h1,
                        .article_body {
                            padding: 1vw;
                            box-sizing: border-box;
                        }

                        &>h1 {
                            grid-area: heading;
                            font-size: 3vw;
                            margin-bottom: 0;


                        }

                        .article_body {
                            grid-area: content;
                            margin-top: 0;

                            p,
                            li {
                                font-size: 1.5vw;
                                margin-top: 0;

                            }

                            li {
                                list-style: square;

                            }
                        }

                        svg {
                            grid-area: photo;
                            width: 100%;
                        }


                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    section {
        &:nth-of-type(1) {
            .panel {
                &:nth-of-type(1) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    article {
                        grid-template-rows: unset;

                        &:nth-of-type(1) {
                            grid-template-areas:
                                "heading heading"
                                "photo photo"
                                "content content";
                            justify-items: center;

                            &>h1,
                            .article_body,
                            svg {
                                width: 90%;


                                // border: 2px solid red;
                                padding: 1vw;
                                box-sizing: border-box;
                            }

                            svg {
                                margin-left: 14vw;
                            }



                            &>h1 {

                                font-size: 7vw;
                                text-align: center;
                            }

                            .article_body {

                                p {
                                    font-size: 5vw;
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    article {
                        grid-template-rows: unset;

                        &:nth-of-type(1) {
                            grid-template-areas:
                                "heading heading"
                                "photo photo"
                                "content content";
                            justify-items: center;

                            &>h1,
                            .article_body,
                            svg {
                                width: 90%;


                                // border: 2px solid red;
                                padding: 1vw;
                                box-sizing: border-box;
                            }

                            svg {
                                //border: 2px solid red;
                                height: fit-content;
                            }





                            &>h1 {

                                font-size: 7vw;
                                text-align: center;
                            }

                            .article_body {

                                p,
                                li {
                                    font-size: 5vw;
                                }
                            }
                        }
                    }
                }
            }
        }

        &:nth-of-type(2) {
            .panel {
                display: flex;
                flex-direction: column;
                align-items: center;

                &:nth-of-type(1) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    article {
                        grid-template-rows: unset;

                        &:nth-of-type(1) {
                            grid-template-areas:
                                "heading heading"
                                "photo photo"
                                "content content";
                            justify-items: center;

                            &>h1,
                            .article_body,
                            svg {
                                width: 90%;


                                // border: 2px solid red;
                                padding: 1vw;
                                box-sizing: border-box;
                            }

                            svg {
                                height: fit-content;

                            }





                            &>h1 {

                                font-size: 7vw;
                                text-align: center;
                            }

                            .article_body {

                                p,
                                li {
                                    font-size: 5vw;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}