
main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}


section:nth-of-type(1){
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: white;

    opacity: 0;



}
header  {
    border: unset;

}

section:nth-of-type(1) .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80%;
    color: white;
    margin-top: 2%;
    background-color: rgba(0, 0, 0,0.7);
    z-index: 2;
    perspective: 5vw;
    margin-bottom: 10%;

    
}
.panel .part{
    width: 100%;
    

    opacity: 0;
    

}

.panel .part h1,.panel .part p,.panel .part p{
    width: 90%;

}
section:nth-of-type(1) .panel article{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;

}
section:nth-of-type(1) .panel h1{
    font-family: 'Coda Caption', sans-serif;
    text-transform: uppercase;
    font-size: 2vw;
}
.panel h2{
    margin-top: 0;
    font-size: 1.7vw;
    font-family: 'Coda Caption', sans-serif;
    text-transform: uppercase;


}
.panel p, .panel li{
    font-family: 'Roboto Slab', serif;

    font-size: 1.5vw;
}
.panel li{
    list-style: square;
}
.panel li a{
    color: silver;
}
@media only screen and (max-width: 980px) {
    section:nth-of-type(1) .panel{
        width: 90%;
        margin-bottom: 20%;
    }
    section:nth-of-type(1) .panel article{
        width: 90%;

    }
    section:nth-of-type(1) .panel h1{
        font-size: 4vw;
    }
    section:nth-of-type(1) .panel h2{
        font-size: 3vw;
    }

    section:nth-of-type(1) .panel p, .panel li{
        width: 100%;
        font-size: 2vw;
    }
    @media only screen and (max-width: 720px){
        .panel .part{
            opacity: 1;
        }

    }


}
