html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

header{
    width: 100%;
    background-color:#242423;
    height: 10vh;
}
nav {
    width: 100;;
    height: 100%;
    display: flex;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    font-size: 1.8vw;
    margin-left:2%;
    color: white;
    text-transform: uppercase;
    transform: translate(0,0);
    transition: letter-spacing 0.8s,transform 0.5s;

}
nav a:hover{
    letter-spacing: 2px;
    transform: translate(0,2px);
}


nav a:nth-of-type(1){
    height: 100%;
    padding-right: 2%;
    color: #F5CB5C;
    border-right: 2px solid #F5CB5C;

    display: flex;
    align-items: center;

}
nav a:nth-of-type(1):hover{
    transform: translate(0,0);
    letter-spacing: unset;

    transition: none;

}

main{
    width:100%;
    display: flex;
    flex-direction: column;
}




section:nth-of-type(1){
    background-color: #F5CB5C;
    width: 100%;
    min-height: 40vh;
    color: #333533;
}
section:nth-of-type(1) h1{
    margin-left: 2%;
    font-size: 10vw;
}
section:nth-of-type(1) h2{
    margin-left: 2%;

    font-size: 6vw;
}
section:nth-of-type(1) span{
    display: block;
    width: 100%;
    font-size: 20vw;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}
/*----------------------End Section 1--------------------------*/

section:nth-of-type(2){
    background-color:#333533;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #F5CB5C;
    

}
section:nth-of-type(2) .wrapflex{
    width: 90%;
    display: flex;
    justify-content: space-around;   
    min-height: 80vh;

}


section:nth-of-type(2) .wrapflex a{
    color: silver;
}

section:nth-of-type(2) .wrapflex .left{
    display: flex;
    flex-direction: column;
    width: 70%;
}
section:nth-of-type(2) .wrapflex .left p{
    width:95%;
}
section:nth-of-type(2) .wrapflex .right{
    width: 30%;
    color: aliceblue;


}
section:nth-of-type(2) .wrapflex .right h2{
    color: silver;
    text-transform: uppercase;
}


.rotateCard{
    min-height: 60vh;
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    margin-bottom: 5%;

}

.wrapflex .right:hover .rotateCard {
    transform: rotateY(180deg);
  }
.front{
    
    background-color:#F5CB5C; 
    border-radius: 15px;
    box-shadow: 0 0 15px orange;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    min-height: 60vh;

    display: flex;
    flex-direction: column;
}
.back{
   background-color:silver; 
   border-radius: 15px;
   color: #333533;

   box-shadow: 0 0 15px azure;
   position: absolute;
   top: 0;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transform: rotateY(180deg);
   width: 100%;
   min-height: 60vh;
}
.wrapflex h1{
    font-size: 3vw;
}
.wrapflex ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}
.wrapflex ul li{
    list-style: square;
    margin: 0;
    text-align: left;
    font-size: 1.2vw;
    margin-top: 1%;

}
/*----------------------End Section 2--------------------------*/


section:nth-of-type(3){
    background-color: #EFDC9E;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-of-type(3)  h1{
    text-transform: uppercase;
}
section:nth-of-type(3) > h1{
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    border-bottom:2px solid #333533;
}
.projectswrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}
.item {
    border-bottom:2px solid #333533;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.item img{
    margin-top: 2%;
    width: 100%;
}
.item li{
    text-transform: capitalize;

}
.item a{
    background-color: #333;
    color:#F5CB5C;
    width: fit-content;
    padding: 2%;
    text-decoration: none;
    box-shadow: 0 0 5px black;
    border-radius: 5px;

}
.item article:nth-of-type(1){
    display: flex;
    flex-direction: column;
    width: 30%;
    
}
.item article:nth-of-type(2){
    width: 65%;
    border-left: 2px solid #333533;
    display: flex;
    flex-direction: column;
}
.item article:nth-of-type(2) h1, .item article:nth-of-type(2) h2 , .item article:nth-of-type(2) h3 ,
 .item article:nth-of-type(2) ul , .item article:nth-of-type(2) p{
    margin-left: 2%;
}
.item article:nth-of-type(2) a{
    padding: 0;
    text-decoration: underline;
    box-shadow: none;
    background-color: unset;
    color: crimson;
    font-size: 1.4vw;
}


section:nth-of-type(4){
    background-color: #333533;
    color: #F5CB5C;
    width: 100%;
    min-height: 30vh;
    
}

section:nth-of-type(4) h1 ,section:nth-of-type(4) h2,section:nth-of-type(4) h3{
    margin-left: 2%;
    font-size: 1.2vw;
}
section:nth-of-type(4) h1{
    font-size: 3vw;
    text-transform: uppercase;
    text-shadow: 0 0 5px silver, 0 0 5px #333, 0 0 5px #F5CB5C;
    text-align: center;
} 
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    font-size: 1.4vw;
    min-height: 10vh;
}
@media only screen and (max-width: 1200px) {
    section:nth-of-type(2) .wrapflex{
        height: auto;
        flex-direction: column-reverse;
    }
    section:nth-of-type(2) .wrapflex .right{
        width:100%;
    } 
    section:nth-of-type(2) .wrapflex .left{
    width:100%;
    
    }

    .left h1,.right h1, #contactMe h1{
        font-size: 6vw;

    }
    
    .left h2,.right h2, #contactMe h2{
        font-size: 5.5vw;
    }
    .left h3,.right h3, #contactMe h3{
        font-size: 4.5vw;
    }
    .left a{
        font-size: 4vw;
        margin-bottom: 2%;
    }
    .wrapflex ul li{
        list-style: square;
        margin-top: 1.5%;
        text-align: left;
        font-size: 3.5vw;
    
    }

    .rotateCard{
        min-height: unset;
        height: auto;
    }
    .rotateCard h1{
        font-size: 4.5vw;
    }
    .front,.back{
        min-height: 30vh;
        height: auto;
   
    }
    .front{
        position: relative;
    }
    .front ul li,.back ul li{
        font-size: 4vw;
    }

    .item {
        border-bottom:3px solid #333533;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
    }
    .item article:nth-of-type(1){
        
        width: 100%;
        align-items: center;
    }
    .item article:nth-of-type(2){
        margin-top: 2%;
        width: 100%;
        border-left: 0;
        border-bottom: 2px solid #333533;


    }
    .item:last-of-type, .item:last-of-type article:nth-of-type(2){
        border-bottom: 0;
   
    }
}
